.loaders {
    position:fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../../assets/img/cargando.gif") 50% 50% no-repeat rgb(249,249,249);
    opacity: 1;
}

#cuerpos {
    
	/*color de la venta que bloquea*/
/*
	background-color: rgba(0, 0, 0, 0); 
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 1903px;
    height: 6017.1px;
    display: none;
*/
}

.if{
	padding-left: 50%;
}

